.body-container {
    margin: 0 !important;
}

.featured-container {
    height: 400px;
    background-color: rgb(51, 51, 51);
    position: relative;
}

.featured-title {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 1vmin 4vw;
    font-size: 18vmin;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.2);
}

.carousel {
    padding-top: 50px;
}

.carousel-cell {
    width: 50%;
    height: 300px;
    margin-right: 100px;
    border-radius: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2%;
    box-shadow: 0 10px 20px rgba(15, 15, 15, 0.4);
}

.carousel-cell .info-container {
    color: rgb(51, 51, 51);
    padding: 0 3%;
    margin-left: 3%;
    /* width: 40%;
    height: 85%; */
    /* position: relative; */
}

.carousel-cell .image-container {
    width: 50%;
    /* margin-left: 2%; */
    box-shadow: 0 10px 20px rgba(15, 15, 15, 0.4);
    border-radius: 10px;
}

.carousel-cell .image-container img {
    width: 100%;
    border-radius: 10px;
    min-height: 200px;
    min-width: 250px;
}

.carousel-cell .info-container h2 {
    font-weight: 300;
    font-size: 3vmax;
    margin: 0;
}

.carousel-cell .info-container p {
    font-weight: 300;
    padding: 10px 0;
    margin: 0;
}

.carousel-cell .info-container .tags {
    opacity: 0.5;
    font-style: italic;
    margin: 0 0 10px 0;
}

.carousel-cell .info-container a {
    font-size: 1rem;
    /* position: absolute; */
    bottom: 0;
}

.flickity-button {
    display: none;
}

.flickity-page-dots {
    display: none;
}