header {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

.header-white {
    background-color: #ffffff;
    min-height: 40vh;
}

.header-white .navbar {
    background-color: transparent !important;
}